html {
    background: linear-gradient(black, #aaa);
    height: 100%;
    background-repeat: no-repeat;
}

.container {
    width:50%;
}
.item {
    margin-left: auto;
    margin-right: auto;
}

#Image1 {
    height: 300px;
    width: 100%;
}

#Image2 {
    height: 300px;
    width: 100%;
}

#Image3 {
    height: 300px;
    width: 100%;
}

#Image4 {
    height: 300px;
    width: 100%;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    padding: 5px;
}
